extends layout
block content  
  main#main
    
    // ======= About Us Section =======
    section#about.about
      .section-title 
        h1.mt-5  About Us
      .container(data-aos='fade-up')
        .row.no-gutters
          
          .col-lg-6.video-box
            img.img-fluid(src='/img/about2.jpg' alt='')
            a.venobox.play-btn.mb-4(href='https://www.youtube.com/watch?v=jDDaplaOz7Q' data-vbtype='video' data-autoplay='true')
          .col-lg-6.d-flex.flex-column.justify-content-center.about-content
            .section-title
              
              //- h4 Our Mission
              //- p
              //-   |  We will develop a platform for the identification and implementation of innovative social and business solutions, including the establishing of startups.
            .icon-box(data-aos='fade-up' data-aos-delay='100')
              .icon
                i.bx.bx-bullseye
              h4.title
                a(href='/about') Our Vision
              p.description
                | To develop social entrepreneurs who produce service businesses that provide health, social and educational services specifically focused on youth and youth at risk.
            .icon-box(data-aos='fade-up' data-aos-delay='100')
              .icon
                i.bx.bxs-flag-checkered
              h4.title
                a(href='/about') Our Mission
              p.description
                | We will develop a platform for the identification and implementation of innovative social and business solutions, including the establishing of startups.
          //-   a.btn-about.justify-content-center.mx-auto.animate__animated.animate__fadeInUp.scrollto(href='/about') Read More
    // End About Us Section
    

    section#about.about
      .container(data-aos='fade-up')
        .row.no-gutters
          
          
          .col-lg-12.d-flex.flex-column.justify-content-center.about-content
            .section-title
              
              h2 Our Philosophy
              p.text-center
                |  All our actions are guided by the principles of incubate, innovate, invest for Social impact, Sustainable economies, and Scalable solutions.
            .icon-box(data-aos='fade-up' data-aos-delay='100')
              .icon
                i.bx.bx-bar-chart-alt
              h4.title
                a(href='/about') Economic Sustainability &amp; Scalable Solutions
              p.description
                | We implement initiatives that are based upon medium and long term financing support and training / education in order to be able to attract valuable human resources and to supply products and services of highest quality.Depending on the business, founders need help fine-tuning their plan, hiring quality employees, figuring out the best way to market, creating their technology platform etc.         
            .icon-box(data-aos='fade-up' data-aos-delay='100')
              .icon
              
                i.bx.bxs-baby-carriage
              h4.title
                a(href='/about') Incubate &amp; Innovate
              p.description
                | The Tranzoia Innovation Hub incubator will combine technology and resource infrastructure that provides a mix of business services, systems, labs and practices to support start-up and small businesses in the commercialization of their products and services to the global marketplace. 

            .icon-box(data-aos='fade-up' data-aos-delay='100')
              .icon
                i.bx.bx-donate-heart
              h4.title
                a(href='/about') Invest for social impact
              p.description
                | Recognizing the need for a comprehensive infrastructure, the Tranzoia Innovation Hub works proactively with the private sector, through the strategic alliances formed with public-private organizations, R&amp;D consortia, public entities and educational institutions.
          //-   a.btn-about.justify-content-center.mx-auto.animate__animated.animate__fadeInUp.scrollto(href='/about') Read More
    // End About Us Section
    
    
    section.about-lists.mt-6
      .container
        .section-title
          h2 Our Objectives
        .row.no-gutters
          .col-lg-4.col-md-12.content-item(data-aos='fade-up')
            span 01
            h4 Providing assistance critical to the survival of business ideas during the startup phase
            p
              | This is in order to facilitate development of client firms into financially viable, on-going business enterprises in the reasonable near term.
          .col-lg-4.col-md-12.content-item(data-aos='fade-up' data-aos-delay='100')
            span 02
            h4 Facilitating commercial application of research and technology into markets.
            p
              |
          .col-lg-4.col-md-12.content-item(data-aos='fade-up' data-aos-delay='200')
            span 03
            h4  Fostering partnerships
            p
              | Partnerships between educational institutions, entrepreneurs, public and private organizations, and small high-technology businesses for facilitating commercial application of systems and procedures developed.
          .col-lg-4.col-md-12.content-item(data-aos='fade-up' data-aos-delay='300')
            span 04
            h4 Establishing a business incubator that is self-sustaining, independent of any outside funding.
            p
              |
          .col-lg-4.col-md-12.content-item(data-aos='fade-up' data-aos-delay='400')
            span 05
            h4 Making opportunities available on a nationwide basis for Kenyan entities 
            p
              | Participate in the incubator as a service provider, client firm, and providers of services/products.
        .row.readmore.justify-content-center.mt-5.mb-5
          
          .col-lg-2.col-md-4.icon-box(data-aos='fade-up' data-aos-delay='200')
            a.btn-about.justify-content-center.mx-auto.animate__animated.animate__fadeInUp.scrollto(href='/joinus') JOIN US
        
          
          
    
    
  