extends layout
block content

    .jumbotron.text-center.mt-5.mb-5
        h1.pt-5.display-3 Thank You for trying to reaching out to Us  #{name}!
        p.lead
        strong Something went wrong. Please try again!
        |  We will get back to you as soon as possible
        p
        | Try Again?
        a(href='/#contact') Contact us
        p.lead
        a.btn-lg#nav-pills2(href='/').pb-5 Continue to Homepage