extends layout
block content

    .jumbotron.text-center.mt-5.mb-5
        h1.pt-5.display-3 OOps Something went wrong  !
        p.lead
        strong Please try again later
       
        p
        | Try Again? 
        a(href='/joinus') Click here to try again
        p.lead
        a.btn-lg#nav-pills2(href='/').pb-5 Continue to Homepage

