extends layout
block content

    .jumbotron.text-center.mt-5.mb-5
        h1.pt-5.display-3 Thank You for Joining Us  #{name}!
        p.lead
        strong Please check your email
        |  for further instructions on how to complete your account setup
        p
        | Having trouble? 
        a(href='/#contact') Contact us
        p.lead
        a.btn-lg#nav-pills2(href='/').pb-5 Continue to Homepage