doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    title Tranzoia Incubation Hub
    meta(content='' name='description')
    meta(content='' name='keywords')

    link(href='/img/Logoww.svg' rel='icon')
    link(href='/img/apple-touch-icon.png' rel='apple-touch-icon')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900' rel='stylesheet')
    link(href='/vendor/animate.css/animate.min.css' rel='stylesheet')
    link(href='/vendor/aos/aos.css' rel='stylesheet')
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
    link(href='/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
    link(href='/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

#spinner-back
#spinner-front
  img(src='/img/trans.gif')
  br    

// ======= Top Bar =======
section#topbar.d-flex.align-items-center
  .container.d-flex.justify-content-center.justify-content-md-between
    .contact-info.d-flex.align-items-center
      i.bi.bi-envelope-fill
      a(href='mailto:contact@example.com') info@transnzoiahub.com
      i.bi.bi-phone-fill.phone-icon
      |  +254 791 262 789 
    .social-links.d-none.d-md-block
      a.twitter(href='#')
        i.bi.bi-twitter
      a.facebook(href='#')
        i.bi.bi-facebook
      a.instagram(href='#')
        i.bi.bi-instagram
      a.linkedin(href='#')
        i.bi.bi-linkedin
// ======= Header =======
header#header.d-flex.align-items-center
  .container.d-flex.align-items-center
    .logo.me-auto
      h1
       a(href='/')
        img.img-fluid(src='/img/translogo.svg' alt='')
    nav#navbar.navbar
      ul
        li#home
          a.nav-link.scrollto.active(href='/') Home
        li
          a.nav-link.scrollto(href='/#about') About
        li
          a.nav-link.scrollto(href='/#programs') Our Programs
        li
          a.nav-link.scrollto(href='/#contact') Contact Us
        li#join
          a.nav-link.scrollto(href='/joinus') Join Us
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
// End Header
// ======= Hero Section =======
block content
        
  // End About Lists Section
footer#footer.mt-6
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6.footer-info
          h3#footlogo
            a(href='/')
              img.img-fluid(src='/img/translogo.svg' alt='')
          .row 
            .col-lg-12
              p
                | A non-profit global community focusing on entrepreneurial incubation, acceleration and the focused business innovation and development across different diversities
            .col-lg-12 
              link(href='//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css' rel='stylesheet' type='text/css')
              style(type='text/css').
                #mc_embed_signup{ font:14px; font-family: "Raleway", sans-serif; width:100%;align-items:left;}
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='https://gmail.us6.list-manage.com/subscribe/post?u=1b13a227eb554e4080ebe771d&id=536fd44c9e' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                  #mc_embed_signup_scroll
                    input#mce-EMAIL.email(type='email' value='' name='EMAIL' placeholder='example@gmail.com' style='text-align:center; height:50px;' required='')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -6000px;' aria-hidden='true')
                      input(type='text' name='b_1b13a227eb554e4080ebe771d_536fd44c9e' tabindex='-1' value='')
                    .clear.pt-3()
                      input#mc-embedded-subscribe.button.btn-lg(type='submit' value='Subscribe to our Newsletter' name='subscribe' style='color:white;background:#55C0CA; height:40px;')



            
        .col-lg-4.col-md-6.footer-links.text-center
          h4 Useful Links
          ul
            li
              i.bx.bx-chevron-right
              a(href='/') Home
            li
              i.bx.bx-chevron-right
              a(href='/about') About us
            li
              i.bx.bx-chevron-right
              a(href='/programs') Our Programs
            
        .col-lg-4.col-md-6.footer-links.text-center
          h4  Contacts
        
          ul
            li
                i.bx.bxs-location-plus
                a(href='/') Transnzoia County
            li
              i.bx.bxs-phone
              a(href='/') +254 791 262 789 
            
            li
              i.bx.bxs-envelope-open
              a(href='/programs') info@transnzoiahub.com

       
            .social-links.mt-3
              a.twitter(href='#')
                i.bx.bxl-twitter
              a.facebook(href='#')
                i.bx.bxl-facebook
              a.instagram(href='#')
                i.bx.bxl-instagram
              a.google-plus(href='#')
                i.bx.bxl-skype
              a.linkedin(href='#')
                i.bx.bxl-linkedin
          
  .container
    .copyright
      | &copy; Copyright 
      strong
        span Trans-Zoia Hub
      | . All Rights Reserved
    .credits
      
// End Footer
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
//- script#mcjs.
  !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1b13a227eb554e4080ebe771d/e6030d9e8657547c20469dfd5.js");

script(src='/vendor/aos/aos.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/vendor/glightbox/js/glightbox.min.js')
script(src='/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='/vendor/php-email-form/validate.js')
script(src='/vendor/purecounter/purecounter.js')
script(src='/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='/js/main.js')


