extends layout
block content


  main#main
    .section-title 
      h1.mt-5  Our Programs
    // ======= About Us Section =======
    section#programs.programs
      .container(data-aos='fade-up')
        
        .row 
          .col-lg-2.col-md-2
          .col-lg-8.col-md-8.icon-box(data-aos='fade-up')
              p.mb-5.description.lh-lg
              | Trans Nzoia Incubation Hub is a system and environment for human services and care that includes the incorporation of education, community building and technology. The incubation hub arose out of collaboration between various stakeholders and interested parties concerned with Education, Economic Development, Civic Infrastructure, Human, Community and Social services with a special focus on the youth and women.
          .col-lg-2.col-md-2
        .row.readmore.justify-content-center.mt-5
          .col-lg-2.col-md-2
          .col-lg-8.col-md-8.icon-box(data-aos='fade-up')
            .icon
              i.bx.bxs-business
            h4.title
              a(href='') Model business/entrepreneurial incubation system
            p.description
              | Our model business incubation system for start-ups and existing small businesses with innovations in Finance, manufacturing, technology, agriculture, water, energy, medical, and education. The hub is cooperatively owned by the founder members, service providers and investors.
          .col-lg-2.col-md-2
        .row.readmore.justify-content-center.mt-5
          .col-lg-2.col-md-2
          .col-lg-8.col-md-8.icon-box(data-aos='fade-up' data-aos-delay='100')
            .icon
              i.bx.bx-donate-heart
            h4.title
              a(href='') Model business incubation and acceleration system
            p.description
              | Our model business incubation and acceleration system that is designed for non-profit organizations in the social, health and educational service sectors.
          .col-lg-2.col-md-2  
        .row.readmore.justify-content-center.mt-5
          .col-lg-2.col-md-2
          .col-lg-8.col-md-8.icon-box(data-aos='fade-up' data-aos-delay='200')
            .icon
              i.bx.bx-bulb
            h4.title
              a(href='') Model business incubation and acceleration system
            p.description
              | Our model business incubation and acceleration system designed for entrepreneurs, innovators and intra-preneurs in a college or TVET setting. The purpose of this program is to provide students with the opportunity to apply critical thinking skills through business planning in an academic setting, that they can apply directly to current and future careers.
          .col-lg-2.col-md-2
        .row.readmore.justify-content-center.mt-5.mb-5 
          .col-lg-2.col-md-2
          .col-lg-8.col-md-8.icon-box(data-aos='fade-up' data-aos-delay='200')
            a.btn-about.justify-content-center.mx-auto.animate__animated.animate__fadeInUp.scrollto(href='/joinus') JOIN US
          .col-lg-2.col-md-2

          
          
          //-   a.btn-about.justify-content-center.mx-auto.animate__animated.animate__fadeInUp.scrollto(href='/about') Read More
    // End About Us Section
    

    
    
          
    // End About Lists Section
